@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #bdb6b6;
    background-color: #353535;
}


/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #bdb6b6;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 40px   ;
}

#contact-info-heading {
    font-size: 2.25rem;
    margin: 55px 0;
    text-align: center;
    letter-spacing: 4px;
}

/* Navigation Links */

#menu, #logo {
    line-height: 75px;
}

#menu {
    font-size: 120%;
    letter-spacing: 5px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #bdb6b6;
}

.active {
    border-bottom: 1px solid #bdb6b6;
}

/* Main image */

#main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/gym\ studio.jpg') no-repeat center center;
    background-size: 100% 100%;

/* animates zoom effect on loading page */
    animation-name: mainimage-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* levels of zoom for main image */

@keyframes mainimage-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
        }
}

#cover-text {
    font-size: 105%;
    font-family: Oswald, sans-serif;
    letter-spacing: 1px;
    text-align: center;

    width: 300px;
    height: 215px;

    padding-top: 1px;
    padding-left: 5px;

    background: rgba(53, 53, 53, 0.7);

    bottom: 1px;
    right: 37%;

    position: absolute;
}

/* main page contact info */

.home-page-contact {
    height : 750px;
    background-color: #353535;
}

.left-half-contact {
    padding-top: 100px;
    width: 50%;
    float: left;
}

.left-half-contact > h5 {
    font-size: 2rem;
    text-align: center;
    font-family: inherit;
    color: inherit;
}

.left-half-contact > p {
    font-size: 1.25rem;
    text-align: center;
    line-height: 5;
    font-weight: 500;
}


#right-half-map {
    width: 50%;
    height: 550px;
    float: right;
}

#map-cover-bg {
    background: url('../images/map.jpg') no-repeat center center;
    height: 100%;
    margin-top: 85px;
    margin-right: 5%;
    border: 2px solid #bdb6b6;
}

#hr1 {
    border-top: 1px solid #bdb6b6;
    width: 175px;
    margin: auto;
}

#hr2 {
    border-top: 1px solid #bdb6b6;
    width: 260px;
    margin: auto;
}

#hr3 {
    border-top: 1px solid #bdb6b6;
    width: 140px;
    margin: auto;
}

#hr4 {
    border-top: 1px solid #bdb6b6;
    width: 260px;
    margin: auto;
}

#hr5 {
    border-top: 1px solid #bdb6b6;
    width: 210px;
    margin: auto;
}

/* Footer */

footer {
    clear: both;
    height: 125px;
    padding-top: 35px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    padding-left: 7.5%;
    padding-right: 7.5%;
    color: #bdb6b6;
}

#footer-number {
    padding: 2%;
    text-align: center;
    width: 45%;
    float:left;
}

#footer-hours {
    padding: 2%;
    text-align: center;
    width: 45%;
    float: right;
}

.phone-number {
    color: inherit !important;
    text-decoration: none !important;
}

#copyright {
    clear: both;
    padding-bottom: 50px;
    margin: 0 auto 50px;
}

/* gallery */

.container {
    clear: both;
    width: 90%;
    min-height: 500px;
    margin: 70px auto 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container > .box {
    position: relative;
    max-width: 375px;
    height: 275px;
    margin: 70px auto -25px auto;
    box-sizing: border-box;
    display: inline-block;
}

.container .box div {
    position: relative;
}

.container .box img {
    width: 100%;
    height: 100%;
}

.box:hover {
    overflow: hidden;
    border-radius: 25px;
    border: 3px solid #bdb6b6;
}

/* Membership and classes  */

.h2-titles {
    font-size: 2.25rem;
    text-align: center;
    clear: both; 
    letter-spacing: 4px;
    padding: 15px;
    margin: 50px auto;
    display: block;
}


.membership-container {
    clear: both;
    margin: auto;
    width: 90%;
    display: flex;
    height: 425px;
    flex-direction: row;
  }
  
  .membership-box {
    clear: both;
    width: 330px;
    height: 275px; 
    margin: auto;
    text-align: center;
    border-radius: 25px;
  }
  
  .membership-box > h3 {
      margin: 10px;
      font-size: 150%;
      letter-spacing: 3px;
      padding: 15px;

  }

  .membership-box > p {
      margin: 20px auto;
      font-size: 110%;
      font-weight: 600;
}

.membership-box:hover {
    background-color:#bdb6b6;
    color: #353535;
}

#membership-button {
    clear: both;
    width: 20%;
    margin: auto;
    padding: 5px;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid #bdb6b6;
    border-radius: 25px;
}

#timetable-button {
    clear: both;
    width: 20%;
    margin: 50px auto;
    padding: 5px;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid #bdb6b6;
    border-radius: 25px;
}

#membership-button a:link, #membership-button a:visited,
#timetable-button a:link, #timetable-button a:visited {
    color: #bdb6b6;
    text-decoration: none;
  }

#membership-button:hover, #membership-button:active,
#timetable-button:hover, #timetable-button a:visited {
    text-decoration: underline;
    color: #bdb6b6;
}

#classes {
    width: 100%;
    overflow: hidden;
    margin: 70px auto 0;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.class-box {
    text-align: center;
    list-style: none;
    width: 200px;
    height: 350px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 25px;
    overflow: hidden;
}

.class-box:hover {
    background-color:#bdb6b6;
    color: #353535;
}

.class-box > h3 {
    margin: 10px;
    font-size: 150%;
    letter-spacing: 3px;
    padding: 15px;
}

.class-box > p {
    margin: 20px auto;
    font-size: 110%;
    font-weight: 600;
}

/* Class timetable */

.timetable th{
    border: 2px solid #bdb6b6;
}

.timetable {
    width: 90%;
    border-collapse: collapse;
    margin: 15px auto;
    font-size: 1rem;
    overflow-x: auto;
}
.timetable th,
.timetable td {
    padding: 10px;
}

/* contacts main image */

#contact-main-image {
    margin: -40px auto 0;
    height: 575px;
    width: 90%;
    background: url('../images/gym-studio-4.png') no-repeat center center ;
    background-size: 100% 100%;

    /* animates zoom effect on loading page */
    animation-name: mainimage-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* levels of zoom for main image */

@keyframes contactmainimage-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
        }
}

#map-wrapper {
    text-align: center;
}
#map {
    clear: both;
    padding: 0;
    margin: 50px auto;
    position: relative;
    height: 575px;
    width: 95%;
    border: 1px solid #353535;
}

.h3-titles {
    font-size: 1.75rem;
    text-align: center;
    clear: both; 
    letter-spacing: 3px;
    padding: 15px;
    margin: 25px auto 0;
}

.get-in-touch {
    font-size: 1.25rem;
    text-align: center;
    letter-spacing: 2px;
}

#right-half-contact {
    padding-top: 100px;
    width: 50%;
    height: 550px;
    float: right;
}

#enquiry-title {
    font-size: 2rem;
    text-align: center;
    font-family: inherit;
    color: inherit;
}
.enquiry-form {
    text-align: center;
}

.form-input {
    clear: both;
    display: block;
    margin: 15px auto;
    width: 90%;
    padding: 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    color: #353535;
    background-color: #d1cbcb;
    background-clip: padding-box;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#enquiry {
    margin: 50px auto;
}

.form-button {
    font-size: 1.5rem;
    margin-top: -15px;
    padding: 5px;
    border: 1px solid #353535;
    border-radius: 10px;
    background-color: #bdb6b6;
}

.form-button:hover {
    text-decoration: none;
    border-color: #bdb6b6;
    background-color:#353535;
    color: #bdb6b6;
    cursor: pointer;
}


/* media queries */

/* for medium to small screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    #menu {
        clear: both;
        float: left;
        margin-left: 25px;
        margin-bottom: 20px;
        line-height: 20px;
    }
}

/* for medium to small screen sizes from 800px wide and down */
@media screen and (max-width: 800px) {
    #right-half-contact {
        clear: both;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .left-half-contact {
        width: 100%;
    }

    #right-half-map {
        width: 100%;
    }

    #map-cover-bg {
        margin: 10px 10px;
    }
}

/* for medium to small screen sizes from 650px wide and down */
@media screen and (max-width: 650px) {
    #timetable-button {
    
        width: 45%;
        height: 75px;
        margin: 25px auto;
        padding: 15px;
    }

    .timetable {
        display: block;
        height: 510px;
        width: 90%;
        overflow-x: auto;
    }
}

/* for small screen sizes from 550px wide and down */
@media screen and (max-width: 550px) {
    #menu ul{
        line-height: 25px;
        display: flex;
        flex-direction: column-reverse;
    }

    .membership-container {
        clear: both;
        flex-direction: column;
    }

    .membership-box {
        display: block;
        margin: 15px auto 5px;
    }

    #membership-button {
        width: 25%;
        margin: 350px auto;
        padding: 5px
    }

    #cover-text {
        font-size: 90%;
        width: 300px;
        height: 215px;
        left: 10px;
    }

    #main-outer {
        height: 400px;
    }

    #main-image {
        height: 400px;
    }

    #cover-text {
        font-size: 75%;
    
        width: 250px;
        height: 150px;

        bottom: 1px 
    }

    #contact-main-image {
        height: 425px;
    }
}

/* for small screen sizes from 400px wide and down */
@media screen and (max-width: 400px) {
    #membership-button {
        width: 35%;
        margin: 400px auto 0;
    }
    
    #contact-main-image {
        height: 375px;
    }
}